{% comment %} DETAIL VIEW {% endcomment %}
{% layout "layouts/base.liquid" %}
{% block title %}
    <title>Nutrify - Product</title>
{% endblock %}
{% block content %}
    <body class="body-detail">
        <nav class="nav-detail outer-padding-horizontal">
            <ul>
                <li>
                    <a class="text-sm text-purple" href="/home">
                        <div>
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L2 8L9 15" stroke="#322338" stroke-width="1.5"/>
                            </svg>
                        </div>
                        Go back
                    </a>
                </li>
                <li>
                    <button class="button button-light"> 
                        <svg width="14" height="18" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 17.9091V11.917C21 6.7707 21 4.19752 19.5356 2.59876C18.0711 1 15.714 1 11 1C6.28596 1 3.92893 1 2.46447 2.59876C1 4.19752 1 6.7707 1 11.917V17.9091C1 21.625 1 23.483 1.81568 24.2948C2.20468 24.682 2.69572 24.9253 3.2188 24.9898C4.31558 25.1254 5.59637 23.9019 8.15796 21.455C9.29022 20.3734 9.85644 19.8326 10.5114 19.6901C10.834 19.6199 11.166 19.6199 11.4886 19.6901C12.1436 19.8326 12.7098 20.3734 13.842 21.455C16.4037 23.9019 17.6844 25.1254 18.7812 24.9898C19.3043 24.9253 19.7953 24.682 20.1843 24.2948C21 23.483 21 21.625 21 17.9091Z" stroke="#322338" stroke-width="1.5"/>
                            <path d="M14.3327 5.93115H7.66602" stroke="#322338" stroke-width="1.5" stroke-linecap="square"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </nav>
        <header class="header-detail">
            {% if image %}
                <img src="{{ image }}" alt="{{ ingredientsData.food.label }}">
            {% else %}
                {% if ingredientsData.food.image %}
                    <img src="{{ ingredientsData.food.image }}" alt="{{ ingredientsData.food.label }}">
                {% else %}
                    <p class="text-sm text-purple">No image available</p>
                {% endif %}
            {% endif %}
            
        </header>
        <main class="main-detail outer-padding-horizontal">
            <h1 class="text-md text-purple">{{ ingredientsData.food.label }}</h1>
            <div>
                <h2 class="text-sm text-purple">Rich in:</h2>
                <div>
                    {% if ingredientsData.food.nutrients.ENERC_KCAL > 200 %}
                        <div class="label label-purple text-xs protein">Calories</div>
                    {% endif %}
                    {% if ingredientsData.food.nutrients.PROCNT > 10 %}
                        <div class="label label-purple text-xs fiber">Protein</div>
                    {% endif %}
                    {% if ingredientsData.food.nutrients.FAT > 10 %}
                        <div class="label label-purple text-xs calories">Healthy fats</div>
                    {% endif %}
                    {% if ingredientsData.food.nutrients.FIBTG > 6 %}
                        <div class="label label-purple text-xs fats">Fiber</div>
                    {% endif %}
                </div>
            </div>
            <div>
                <h2 class="text-sm text-purple">Nutritions per 100g:</h2>
                <ul class="text-sm text-purple">
                    <li>
                        <div>Calories</div>
                        <div>{{ ingredientsData.food.nutrients.ENERC_KCAL }} kcal</div>
                    </li>
                    <li>
                        <div>Carbohydrate</div>
                        <div>{{ ingredientsData.food.nutrients.CHOCDF }} g</div>
                    </li>
                    <li>
                        <div>Fat unsaturaded</div>
                        <div>{{ ingredientsData.food.nutrients.FAMS }} g</div>
                    </li>
                    <li>
                        <div>Fat saturated</div>
                        <div>{{ ingredientsData.food.nutrients.FASAT }} g</div>
                    </li>
                    <li>
                        <div>Total fat</div>
                        <div>{{ ingredientsData.food.nutrients.FAT }} g</div>
                    </li>
                    <li>
                        <div>Sugar</div>
                        <div>{{ ingredientsData.food.nutrients.SUGAR }} g</div>
                    </li>
                    <li>
                        <div>Added sugar</div>
                        <div>{{ ingredientsData.food.nutrients.SUGAR.added }} g</div>
                    </li>
                    <li>
                        <div>Protein</div>
                        <div>{{ ingredientsData.food.nutrients.PROCNT }} g</div>
                    </li>
                    <li>
                        <div>Fiber</div>
                        <div>{{ ingredientsData.food.nutrients.FIBTG }} g</div>
                    </li>
                    <li>
                        <div>Vitamin B12</div>
                        <div>{{ ingredientsData.food.nutrients.VITB12 }} µg</div>
                    </li>
                    <li>
                        <div>Vitamin C</div>
                        <div>{{ ingredientsData.food.nutrients.VITC }} mg</div>
                    </li>
                    <li>
                        <div>Vitamin D</div>
                        <div>{{ ingredientsData.food.nutrients.VITD }} µg</div>
                    </li>
                </ul>
            </div>
        </main>
        {% render "components/menu.liquid", slug: slug %}
    </body>
{% endblock %}